h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: black;
    font-weight: 700;
    text-align: center;
}

.border {
    border: 1px solid black;
    border-radius: 3rem;
}

.canvas {
    margin: 1rem;
    width: 97vw;
    height: 80vh;
    background: linear-gradient(lightblue, 90%, blue );
}

.deck {
    position: absolute;
    bottom: 100px;
    left: 400px;
    width: 300px;
    border-top: 60px solid brown;
    border-left: 150px solid transparent;
    border-right: 75px solid transparent;
}

.mast {
    position: absolute;
    width: 10px;
    height: 350px;
    background-color: blue;
    left: 680px;
    bottom: 160px;
}

.deck::before {
    content: "";
    position: absolute;
    bottom: 350px;
    left: 30px;
    border-right: 100px solid blueviolet;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.deck::after {
    content: "";
    position: absolute;
    bottom: 80px;
    left: -70px;
    border-top: 200px solid transparent;
    border-right: 200px solid burlywood;    
    border-bottom: 50px solid transparent;
}

.mast::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 10px;
    border-left: 150px solid burlywood;
    border-top: 200px solid transparent;
    border-bottom: 50px solid transparent;
}

.sun {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 10px 10px 50px rgba(255, 252, 47, 0.84);
}